# Virtual environment
.venv/

# Environment variables / secrets
.env

# Python cache
__pycache__/
*.pyc

# ChromaDB local database
chroma_db/

# Pytest cache
.pytest_cache/

# VS Code
.vscode/

Readme.txt

Data